.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body{
    background-color: rgb(221, 240, 245);
    
}

#camera{
    width: 500px;
    height: 400px;
   
   
}

img:hover{

    border-radius: 140px;

}